@font-face {
  font-family: 'NexonBazzi'; /*넥슨 배찌체 사용*/
  src: url('./fonts/Bazzi.eot') format('eot'), /* 넥슨배찌체 폰트 파일 경로 설정 */
       url('./fonts/Bazzi.woff') format('woff'); /* 웹 폰트 포맷 지정 */
  font-weight: normal;
  font-style: normal;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'NexonBazzi', sans-serif; 
  font-size: calc(10px + 2vmin);
  line-height: 0.5; /* 줄글 간 간격 조절 */
  color: rgb(0, 247, 45);
  position: relative;
}

.puppy3 {
  height: 30vmin; /* 이미지 크기를 조절 */
  width: auto; /* 이미지 가로폭을 조절 */
  position: absolute; /* 요소의 위치를 절대 좌표로 지정 */
  bottom: 0;
  left: 0;
  margin: 1rem;
}
.chiikawa3 {
  height: 30vmin;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.cat {
  height: 30vmin;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  z-index: 1;
}
.penguin {
  height: 30vmin;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.my_pic {
  height: 40vmin;
  width: auto;
  margin: 1rem;
  border: 0.25rem solid;
  border-radius: 25%;
  position: relative;
}