/* 기본 스타일 */
.App {
  /* text-align: center; */
}

.logo {
  width: 40%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAEBEF;
}

.register-container {
  text-align: left;
  padding-left: 6.5%;
  padding-right: 6.5%;
  width: 27%;
  margin: 0 auto;
  background-color: #ffffff;
}

.input-container input {
  width: 100%;
  padding: 8px;
  font-size: inherit;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  border: 1px solid #dbdbdb;
}

.input-container h3 {
  font-size: 1.17em;
  margin-bottom: 10px;
}

h4 {
  color: #292929;
  text-align: center;
}

p {
  color: #757575;
}

.btn {
  width: 408px;
  color: white;
  background: #35C5F0;
  padding: 10px;
  border: 1px solid #35C5F0;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 모바일 스타일 (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .register-container {
    width: 90%;
    padding: 4%;
  }
  
  .btn {
    width: 100%;
  }
}

/* 태블릿 스타일 (min-width: 768px) and (max-width: 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .register-container {
    width: 60%;
    padding: 4%;
  }
  
  .btn {
    width: 60%;
  }
}

/* 랩톱 이상 스타일 (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
  .register-container {
    width: 40%;
    padding: 4%;
  }
  
  .btn {
    width: 408px;
  }
}